{% extends "base.html" %}

{% block title %}Page Not Found - SS{% endblock %}

{% block content %}

<section class="hero">
    <div class="hero-content">

        <p class="small-title">404 ERROR</p>

        <h1>
            PAGE
            <span>NOT FOUND</span>
        </h1>

        <h2>
            Looks like you took a wrong turn.
        </h2>

        <p>
            The page you're looking for doesn't exist or may have
            been moved.
        </p>

        <div class="hero-buttons">
            <a href="/" class="btn primary">
                BACK TO HOME
            </a>

            <a href="/opportunities" class="btn secondary">
                EXPLORE SS
            </a>
        </div>

    </div>
</section>

{% endblock %}